:host{
    background: grey;
    color:white;
    .movieDetail{

        padding:2em;
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        grid-gap:1em;
        .rating{
            font-size: 3em;
            font-weight: 800;
            span{
            font-size: 0.5em;
            font-weight: 400;

            }
        }
        img{
            width:100%;
            
        }
        .generos span{
            
            margin-right: 0.6em;
            background:#333;
            text-transform: uppercase;
            padding:0.5em;
            border-radius: 5px;
        }
    }

}